@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TravelBlog.Models.Person>
<h2>People</h2>

@foreach (var person in Model)
{
    <h4>@Html.DisplayFor(modelExperience => person.Name)| @Html.ActionLink("Details", "Details", new { id = person.PersonId })</h4>
}



<p>@Html.ActionLink("Add new person", "Create")</p>