@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<TravelBlog.Models.Person>
<h2>People</h2>

@foreach (var experience in Model)
{
    <h4>@Html.DisplayFor(modelExperience => experience.Name)</h4>
}



<p>@Html.ActionLink("Add new person", "Create")</p>